@font-face {
  font-family: 'Dancing';
  src: url(Dancing_Script/DancingScript-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Gloria';
  src: url(Gloria_Hallelujah/GloriaHallelujah-Regular.ttf);
}

@font-face {
  font-family: 'Indie';
  src: url(Indie_Flower/IndieFlower-Regular.ttf);
}

@font-face {
  font-family: 'Reenie';
  src: url(Reenie_Beanie/ReenieBeanie-Regular.ttf);
}

body {
  cursor: url('footprint.png'), auto;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: none;
  background-color: #ffffff;
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

h2 {
  font-family: 'Indie';
  font-size: 40px;
  

}

#header {
  background-color: rgba(255, 255, 255, 0.7);
  color: white;
  text-align: center;
  padding: 5px;
  font-family: 'Reenie';
  color: black;
  font-size: 70px;
  margin: -70px;
}

#content {
  max-width: 1100px;
  height: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

#overview {
  margin-top: 20px;
  font-family: 'ariel';
  font-size: 20px;
}

#objectives {
  margin-top: 20px;
  font-family: 'ariel';
  font-size: 20px;
}

button {
  display: block;
  margin: 0 auto; /* Centers the button horizontally */
  margin-top: 20px;
  text-align: center; /* Centers the button text horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-cursor-button {
  display: block;
  margin: 0 auto; /* Center the button horizontally */
  margin-top: 20px;
  cursor: url('footprint.png'), auto; /* Use the custom cursor for the button */
}

#dayInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Indie';
  font-size: 20px;
}




